%h1
  Welcome in
  %strong
    Le Projet
%h2
  This is a project management service that does... nothing !
  (expect retreive and gather data from 3rd parties ;) )


%h2
  Here are the current projects listed:

%ul
  - @projects.each do |project|
    %li
      = link_to project.name, project_path(project)

%h2
  Here are the current projects listed:

%ul
  - @unassigned_tasks.each do |task|
    %li
      = link_to task.name, task_path(task)
